@model IEnumerable<DokterPraktekV2.medicineTransaction>

@{
    ViewBag.Title = "Index";
}

<h2>Data IN/OUT - Transaksi</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.statusTransaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                Nama Obat
            </th>
            <th>Action</th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        
        <td>
            @if(item.statusTransaction == true)
            {
                <font color="green"><p>IN</p></font>
            }else
            {
                <font color="red"><p>OUT</p></font>
            }
            @*@Html.DisplayFor(modelItem => item.statusTransaction)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.medicine.name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
