@model DokterPraktekV2.Medicine

@{
    ViewBag.Title = "Edit";
}

<section class="content-header">
    <h1>Edit Medicine</h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.row -->
    <div class="box box-danger">
        <div class="box-header">
        </div>
        <div class="box-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.doctorId, "doctorId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("doctorId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.doctorId, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.Label("Name Of Medicine", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.MerkOfMedicine, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.Label("Brand Of Medicine", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MerkOfMedicine, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MerkOfMedicine, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.UnitOfMedicine, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.Label("Unit Of Medicine", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.UnitOfMedicine, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UnitOfMedicine, "", new { @class = "text-danger" })*@
                            @Html.DropDownListFor(e => e.UnitOfMedicine, new SelectList(ViewBag.GetDataQtyMedByUnit, "AttributeValue", "AttributeValue"), "", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.BenefitMedicine, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.Label("Benefit Of Medicine", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BenefitMedicine, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BenefitMedicine, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.Label("Price Of Medicine", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.Label("Qty / Unit", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 form-inline">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })

                            @Html.DropDownListFor(e => e.QuantityOfMedicine, new SelectList(ViewBag.QuantityMed, "AttributeValue", "AttributeValue"), "", new { @class = "form-control" })
                        </div>
                    </div>

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.dateIn, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.dateIn, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.dateIn, "", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
                        @Html.Label("Expired Date", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })*@
                            <input type="date" name="ExpireDate" class="form-control" />
                            @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</section>