@*@model IEnumerable<DokterPraktekV2.medicine>*@
@using PagedList.Mvc
@model  PagedList.IPagedList<DokterPraktekV2.Models.VM_Stock>
@{
    ViewBag.Title = "Obat";
}

<h2>Data Obat Dokter</h2>

<p>@Html.ActionLink("Insert Obat", "Create", "medicines", new { @class = "btn btn-primary" })
   @*@Html.ActionLink("STOCK","Stock","medicines",new { @class = "btn btn-primary" })*@
</p>
<form method="get" action="/medicines">
    @Html.TextBox("search") <input type="submit" name="submit" value="Search" />
</form>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Nama Obat
            </th>
            <th>
                Harga
            </th>
            <th>
                Stock Masuk
            </th>
            <th>
                Tanggal Masuk
            </th>
            <th>
                Tanggal Kadaluarsa
            </th>
            <th>
                Status
            </th>
            <th>
                Stock Sisa
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
@{
    int i = 0;
    var a = "";
    foreach (var item in Model)
    {
    <tr>
        
            <td>
                <font color="@ViewBag.warna[i]">@item.nameMedicine</font>
            </td>
            <td>
                @item.price
            </td>
            <td>
                @item.inStock
            </td>
            <td>
                @foreach (var va in item.dateIn.GetDateTimeFormats('D'))
                {
                    @va
                } 
            </td>
            <td>
                @foreach (var va in item.expired.GetDateTimeFormats('D'))
                {
                    <font color="@ViewBag.warna[i]">@va</font>
                }
        </td>
        <td>
            <font color="@ViewBag.warna[i]">@ViewBag.status[i]</font>
        </td>
            <td>
                @if (item.remainStock == null)
            {
                @item.inStock
                }
                else
                {
                @item.remainStock
                }
            </td>
            <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
    </tr>
            i++;
        }
    }
</table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
@foreach (var date in @ViewBag.date)
{
    @date
}
  