@model IEnumerable<DokterPraktekV2.medicine>

@{
    ViewBag.Title = "ObatDB";
}

<h2>Data Obat Dokter</h2>

<p>@Html.ActionLink("Insert Obat", "Create")
   @Html.ActionLink("STOCK","Stock","medicines",new { @class = "btn btn-primary" }) 
   @*@Html.ActionLink("Insert Obat", "Create","medicineTransactions", new { @class = "btn btn-success" })<br />
   @Html.ActionLink("Data In/Out","Index","medicineTransactions", new { @class = "btn btn-primary" })<br />*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doctor.name)
        </th>
        <th>
            Stock Sisa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doctor.name)
        </td>
        @*<td>
            @foreach (var stk in ViewBag.Data)
            {
                if (stk.remainStock == null)
                {
                    <p>0</p>
                }
                else
                {
                    <p>@stk.remainStock</p>
                }
            }
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
