@model IEnumerable<DokterPraktekV2.medicine>

@{
    ViewBag.Title = "Obat";
}

<h2>Data Obat Dokter</h2>

<p>@Html.ActionLink("Insert Obat", "Create", "medicines", new { @class = "btn btn-primary" })
   @*@Html.ActionLink("STOCK","Stock","medicines",new { @class = "btn btn-primary" })*@
</p>
<table class="table">
    <tr>
        <th>
            Nama Obat
        </th>
        <th>
            Harga
        </th>
        <th>
            Stock Masuk
        </th>
        <th>
            Tanggal Masuk
        </th>
        <th>
            Tanggal Kadaluarsa
        </th>
        <th>
            Status
        </th>
        <th>
            Stock Sisa
        </th>
        <th>
            Delete
        </th>
    </tr>
@{
    int i = 0;
    foreach (var item in ViewBag.Data)
    {
    <tr>
        
            <td>
                <font color="@ViewBag.warna[i]">@item.nameMedicine</font>
            </td>
            <td>
                @item.price
            </td>
            <td>
                @item.inStock
            </td>
            <td>
                @item.dateIn
            </td>
            <td>
                <font color="@ViewBag.warna[i]">@item.expired</font>
            </td>
        <td>
            <font color="@ViewBag.warna[i]">@ViewBag.status[i]</font>
        </td>
            <td>
                @if (item.remainStock == null)
            {
                @item.inStock
                }
                else
                {
                @item.remainStock
                }
            </td>
            <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
    </tr>
            i++;
        }
    }
</table>
