@*@model IEnumerable<DokterPraktekV2.medicine>*@
@using PagedList.Mvc
@model  PagedList.IPagedList<DokterPraktekV2.Models.VM_Stock>
@{
    ViewBag.Title = "Obat";
}

<section class="content-header">
    <h1>Doctor's Medicine</h1>
</section>
@if (ViewBag.MessageDisplay == true)
{
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@ViewBag.MessageSuccess</strong>
    </div>
}
<section class="content">
    <div class="box box-danger">
        <div class="box-header">     
            @Html.ActionLink("Insert Obat", "Create", "medicines", new { @class = "btn btn-primary" })
        </div>
        <div class="box-body">
            <form method="get" action="/medicines">
                @Html.TextBox("search") <input type="submit" name="submit" value="Search" />
                
            </form>
            <br />
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Brand
                        </th>
                        <th>
                            Unit
                        </th>
                        <th>
                            Benefit
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Stock In
                        </th>
                        <th>
                            Date In
                        </th>
                        <th>
                            Expired Date
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Remaining Stock
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                @{
                    int i = 0;
                    var a = "";
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.id
                            </td>
                            <td>
                                <font color="@ViewBag.warna[i]">@item.nameMedicine</font>
                            </td>
                            <td>
                                @item.MerkMedicine
                            </td>
                            <td>
                                @item.UnitOfMedicine
                            </td>
                            <td>
                                @item.BenefitMedicine
                            </td>
                            <td>
                                @item.price
                            </td>
                            <td>
                                @item.inStock
                            </td>
                            <td>
                                @item.dateIn.ToString("dd MMMM yyyy")

                            </td>
                            <td>
                                <font color="@ViewBag.warna[i]">@item.expired.ToString("dd MMMM yyyy")</font>
                            </td>
                            <td>
                                <font color="@ViewBag.warna[i]">@ViewBag.status[i]</font>
                            </td>
                            <td>
                                @if (item.remainStock == null)
                                {
                                    @item.inStock
                                }
                                else
                                {
                                    @item.remainStock
                                }
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id })
                            </td>
                        </tr>
                        i++;
                    }
                }
            </table>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</section>


