@model IEnumerable<DokterPraktekV2.medicine>

@{
    ViewBag.Title = "Obat";
}

<h2>Data Obat Dokter</h2>

<p>@Html.ActionLink("Insert Obat", "Create","medicines", new { @class = "btn btn-primary" })
   @*@Html.ActionLink("STOCK","Stock","medicines",new { @class = "btn btn-primary" })*@
</p>
<table class="table">
    <tr>
        <th>
            Nama Obat
        </th>
        <th>
            Harga
        </th>
        <th>
            Stock Masuk
        </th>
        <th>
            Tanggal Masuk
        </th>
        <th>
            Tanggal Kadaluarsa
        </th>
        <th>
            Stock Sisa
        </th>
        <th>
            Delete
        </th>
    </tr>

@foreach (var item in ViewBag.Data) {
    <tr>
        <td>
            @item.nameMedicine
        </td>
        <td>
            @item.price
        </td>
        <td>
            @item.inStock
        </td>
        <td>
            @item.dateIn
        </td>
        <td>
            @item.expired
        </td>
        <td>@if(item.remainStock == null)
        {
            <p>0</p>
        }
        else
        {
            @item.remainStock
        }
            
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
