@model DokterPraktekV2.Models.VM_bookList



<div>
    <hr />
    <div class="panel panel-primary">

        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="label label-success">Booking Success </span></h4>
        <dl class="dl-horizontal">

            <dt>
                <label>Booking Number</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoBooking)
            </dd>

            <dt>
                <label>Patient ID</label>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.id) &nbsp; <strong class="alert-danger">Use this Patient ID for your next booking</strong>
            </dd>
            <dt>
                <label>Patient Name</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PatientName)
            </dd>

            <dt>
                <label>Doctor Name</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DoctorName)
            </dd>

            <dt>
                <label>Appointment Date</label>
            </dt>

            <dd>
                @Model.BookDate.ToString("dddd, dd/MM/yyyy")
            </dd>

            <dt>
                <label>Booking Status</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookingStatus)
            </dd>

        </dl>
    </div>
</div>