@model DokterPraktekV2.Models.VM_schedules

@{
    ViewBag.Title = "Create";
}
@Html.Partial("Sign")
<h2 class="text-center">RI9 Clinic</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="form-horizontal col-md-offset-3">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            <div class="col-md-8">
                <table id="doctorTable" class="table table-bordered table-hover">
                    <tr>
                        <th>Doctor</th>
                        <th>Specialist</th>
                        <th>Doctor Schedule</th>
                        <th>Choose</th>
                    </tr>
                    @{
                        foreach (var item in Model.doctors)
                        {
                            <tr>
                                <td>@item.name</td>
                                <td>
                                    @{
                                        foreach (var data in item.doctorSpecialties)
                                        {
                                            <li>@data.specialty</li><br />
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        foreach (var work in item.dayIn)
                                        {
                                            <li>@work.day </li><br />
                                        }
                                    }
                                </td>
                                <td>
                                <input type="hidden" class="doctorId" value="@item.doctorId" />
                                <input type="button" class="selectDoctor btn btn-primary" value="Choose" data-toggle="modal" data-target="#myModal" data-p/></td>
                            </tr>
                         }
                    }
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $("#doctorTable").on("click", ".selectDoctor", function () {
            var tr = $(this).parent().parent();
            var idDoctor = tr.find(".doctorId").val();
            $("#newPatient").attr("href", "/schedules/Create/" + idDoctor);
            $("#registeredPatient").attr("href", "/schedules/SignIn/" + idDoctor);
        });
    </script>
    
}
