@model DokterPraktekV2.doctor
@{
    ViewBag.Title = "DoctorDetail";
}

<section class="content-header">
    <h1>DoctorDetail</h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.row -->
    <div class="box box-danger">
        <div class="box-header">
        </div>
        <div class="box-body">
            <h4>Name : @Model.name</h4>
            <h4>Address : @Model.homeAddress</h4>
            <h4>Phone : @Model.phone</h4>
            <a href="/SuperUser/Doctor">back to list</a>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Shift Day:</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Day</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in ViewBag.work)
                            {
                                <tr>
                                    <td>
                                        @i.Day
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <h3>Spesialist Doctor:</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Spesiality</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in @ViewBag.SpecialistDoc)
                            {
                                <tr>
                                    <td>
                                        @i.SpecialistName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
