@model DokterPraktekV2.doctor
@{
    ViewBag.Title = "DoctorDetail";
}

<h2>DoctorDetail</h2>
<h4>Name : @Model.name</h4>
<h4>Address : @Model.homeAddress</h4>
<h4>Phone : @Model.phone</h4>
<a href="/SuperUser/Doctor">back to list</a>
<div class="row">
    <div class="col-sm-6">
        <h3>Shift Day:</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Day</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in ViewBag.work)
                {
                <tr>
                    <td>
                        @i.dayIn
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>Spesialist Doctor:</h3>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Spesiality</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.specialists)
                {
                    <tr>
                        <td>
                            @i.specialty
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
