@model DokterPraktekV2.doctor


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.homeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.homeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>@if (ViewBag.getGen == true)
        {
            <p>Pria</p>
        }else
        {
            <p>Wanita</p>
        }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.registerDatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.registerDatetime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<table class="table">
    <tr>
        <th>
            Nama Obat
        </th>
        <th>
            Nama Dokter
        </th>
        <th>
            Stock In
        </th>
        <th>
            Tanggal Masuk
        </th>
        <th>
            Stock
        </th>
        <th></th>
    </tr>
    
        @foreach (var item in @ViewBag.med)
        {
            <tr>
                <td>
                    @item.name
                </td>
                <td>
                    @ViewBag.nameMed
                </td>
                <td>
                    @item.quantity
                </td>
                <td>
                    @item.dateIn
                </td>
                <td>

                </td>
                
            </tr>
        }
</table>
