@model  PagedList.IPagedList<DokterPraktekV2.Schedule>
@using PagedList.Mvc;
@{
    ViewBag.Title = "TodayPatient";
}


<section class="content-header">
    <h1>Today Schedule Doctor @ViewBag.Doctor.name</h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.row -->
    <div class="box box-danger">
        <div class="box-header">
        </div>
        <div class="box-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            No booking
                        </th>
                        <th>
                            Patient Name
                        </th>
                        <th>
                            Booking Status
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.BookingNumber
                        </td>
                        <td>
                            @item.Patient.Name
                        </td>
                        <td>
                            @item.BookingStatus
                        </td>
                        <td>
                            @if (item.Patient.Gender == false)
                {<p>wanita</p>}
                else
                {<p>pria</p>}
                        </td>
                        <td>
                            @*public ActionResult InputHistory(string patientId, string currentFilter, int? page)*@
                            <a href="/Doctors/InputHistory?patientId=@item.PatientID"><button class="btn btn-primary">Input History</button></a>
                        </td>
                    </tr>
                }
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</section>



