@model  PagedList.IPagedList<DokterPraktekV2.schedule>
@using PagedList.Mvc;
@{
    ViewBag.Title = "TodayPatient";
}

<h2>Today Schedule Doctor @ViewBag.Doctor.name</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                No booking
            </th>
            <th>
                patient name
            </th>
            <th>
                booking status
            </th>
            <th>
                gender
            </th>
            <th>Action</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.bookingNumber
            </td>
            <td>
                @item.patient.name
            </td>
            <td>
                @item.bookingStatus
            </td>
            <td>
                @if (item.patient.gender == false)
                {<p>wanita</p>}
                else
                {<p>pria</p>}
            </td>
            <td>
                <a href="/Doctors/InputHistory/@item.id"><button class="btn btn-primary">Input history</button></a>
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))




