<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .table {
            background-color: white;
        }

            .table thead {
                background-color: black;
                color: white;
            }

        .panel-default .panel-heading {
            color: white;
            background-color: #333;
        }
    </style>
</head>
<body class="hold-transition skin-red sidebar-mini">
    <div class="wrapper">
        <!-- open navbar -->
        <header class="main-header">
            <a href="index2.html" class="logo">
                <span class="logo-mini"><b>D</b>OC</span>
                <span class="logo-lg"><b>Dokter Praktek</b></span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    @if (User.IsInRole("doctor"))
                    {
                        <li><a href="/doctors/Index"><i class="fa fa-calendar"></i> <span>Today Schedule</span></a></li>
                        <li><a href="/medicines/Index"><i class="fa fa-medkit"></i> <span>Medicines</span></a></li>
                        <li><a href="/medicineTransactions/Index"><i class="fa fa-download"></i> <span>Medicines Trans</span></a></li>
                        <li><a href="/patients/Index"><i class="fa fa-user"></i> <span>Patients</span></a></li>
                        <li><a href="/specialties/Add"><i class="fa fa-stethoscope"></i> <span>My Specialties</span></a></li>
                        <li><a href="/dayIn/Create"><i class="fa fa-calendar-check-o"></i> <span>Work Schedule</span></a></li>
                    }
                    else if (User.IsInRole("admin"))
                    {
                        <li><a href="/schedules/TodayBook"><i class="fa fa-calendar"></i> <span>Today's Booking List</span></a></li>
                        <li><a href="/Transaction/Index"><i class="fa fa-credit-card"></i> <span>Payment</span></a></li>
                        <li><a href="/patients/allPatient"><i class="fa fa-user"></i> <span>List patients</span></a></li>
                        <li><a href="/medicines/MedicineAdminController"><i class="fa fa-user"></i> <span>Medicine Controller</span></a></li>
                        <li><a href="/medicines/MedicineConfigurationView"><i class="fa fa-user"></i> <span>Medicine Configuration</span></a></li>
                        <li><a href="/schedules/Index"><i class="fa fa-book"></i> <span>All Booking</span></a></li>
                    }
                    else if (User.IsInRole("superuser"))
                    {
                        <li><a href="/schedules/TodayBook"><i class="fa fa-calendar"></i> <span>Today's Booking List</span></a></li>
                        <li><a href="/SuperUser/Doctor"><i class="fa fa-user-md"></i> <span>List doctors</span></a></li>
                        <li><a href="/SuperUser/Admin"><i class="fa fa-address-book-o"></i> <span>List Admins</span></a></li>
                        <li><a href="/patients/allPatient"><i class="fa fa-user"></i> <span>List patients</span></a></li>
                        <li><a href="/schedules/Index"><i class="fa fa-book"></i> <span>All Booking</span></a></li>
                        <li><a href="/Account/Register"><i class="fa fa-plus-circle"></i> <span>Create User</span></a></li>
                    }
                    else
                    {
                        <li><a href="/schedules/Select"><i class="fa fa-book"></i> <span>Book Now!</span></a></li>
                    }
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
