@model  PagedList.IPagedList<DokterPraktekV2.patient>
@using PagedList.Mvc;
@{
    ViewBag.Title = "allPatient";
}


<h2>Patient List</h2>
<br />
<form action="/Patients/allPatient" method="get">
    <p>
        Find by name: <input id="SearchString" name="SearchString" type="text">
        <input type="submit" value="Search">
    </p>
</form>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                name
            </th>
            <th>
                address
            </th>
            <th>
                phone
            </th>
            <th>
                gender
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.name
            </td>
            <td>
                @item.homeAddress
            </td>
            <td>
                @item.phone
            </td>
            <td>
                @if (item.gender == false)
                {<p>wanita</p>}
                else
                {<p>pria</p>}
            </td>
        </tr>
    }
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("allPatient",
    new { page, currentFilter = ViewBag.CurrentFilter }))




