@model  PagedList.IPagedList<DokterPraktekV2.Patient>
@using PagedList.Mvc;
@{
    ViewBag.Title = "allPatient";
}

<section class="content-header">
    <h1>Patient List</h1>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.row -->
    <div class="box box-danger">
        <div class="box-header">
        </div>
        <div class="box-body">
            <form action="/Patients/allPatient" method="get">
                <p>
                    Find by name: <input id="SearchString" name="SearchString" type="text">
                    <input type="submit" value="Search">
                </p>
            </form>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            name
                        </th>
                        <th>
                            address
                        </th>
                        <th>
                            phone
                        </th>
                        <th>
                            gender
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                        <td>
                            @if (item.Gender == false)
                            {
                                <p>Wanita</p>
                            }
                            else
                            {
                                <p>Pria</p>
                            }
                        </td>
                    </tr>
                }
            </table>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("allPatient",
    new { page, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</section>





