@model  PagedList.IPagedList<DokterPraktekV2.Models.VM_history>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Details";
}


<h2>History Patient @ViewBag.detailPatient.name</h2>
<img src="data:@ViewBag.tipeImage;base64,@ViewBag.stringUrl" style="width: 150px; height: 150px;" />
<div style="margin-top:10px">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    date
                </th>
                <th>
                    sickness
                </th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.date.ToShortDateString()
                </td>
                <td>
                   @item.sickness
                </td>
                <td>
                    <a href="/patients/DetailsHistory/@item.id">History detail</a>
                </td>
            </tr>
        }

    </table>

    <a href="/Patients"><button class="btn btn-default">Back</button></a>
    <br />
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Details",
    new { page }))
</div>

