@model  PagedList.IPagedList<DokterPraktekV2.Models.VM_patient>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Patient List</h2>
<br />
<form action="/Patients" method="get">
    <p>
        Find by name: <input id="SearchString" name="SearchString" type="text">
        <input type="submit" value="Search">
    </p>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                name
            </th>
            <th>
                address
            </th>
            <th>
                phone
            </th>
            <th>
                gender
            </th>
            <th>Action</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.name
        </td>
        <td>
            @item.address
        </td>
        <td>
            @item.phone
        </td>
        <td>
           @if(item.gender == false){<p>wanita</p>}
           else{<p>pria</p>}
        </td>
        <td>
           <a href="/patients/Details/@item.id"><button class="btn btn-info">History</button></a>
        </td>
    </tr>
}
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
